@media screen and (min-width: 1280px)
	/* Pc version */
	{
	body
		{
		width: 1400px;
		background-color: #01FCC3;
		}
	.firstTitle + .secondTitle
		{
		border-style: solid;
		}
		
	table, th, td	
		{
		border-color: black;
		border-style: double;
		border-width: 1px;
		}
	a:link 
		{
		color: #0064FF;
		}

	a:visited 
		{
		color: #012D71;
		}

	a:hover 
		{
		color: #FF0000;
		}
		
	col:first-child
		{
		background-color: #FF0;
		}
	tr:nth-child(even)
		{
		background-color: #CFF;
		}
	tr:nth-child(odd)
		{
		background-color: #FFF;
		}
	
	p:first-letter
		{
		color: #00FF0C;
		}
	.article1 > p
		{
		background-color: #09C212;
		}
	
	
	.mobileNavigation
		{
		display: none;
		}
	
	.mainSection 
		{		
		display: flex;
		flex-wrap: wrap;
		gap: 0px 250px;
		}
		
	.video 
		{
		width: 550px;
		order: 1;
		}
	.headPage
		{
		display: none;	
		}
	.article1
		{
		background-color: #01853B;
		width: 700px;
		order: 2;
		}
		
	.article2
		{
		background-color: #01853B;
		width: 700px;
		order: 4;
		}
		
	.article3
		{
		background-color: #01853B;
		width: 700px;
		order: 5;
		}	

	.asideRoutes
		{
		background-color: #FC2D01;
		width: 400px;	
		order: 3;
		letter-spacing: 2px;
		line-height: 150%;
		text-indent: 5px;
		word-spacing: 10px;
		}
		
	/* gridcontainer + all classes */
	.gridcontainer
		{
		display: grid;	
		grid-gap: 10px;
		grid-template-areas:	
			'firsTitle 		firsTitle	 	firsTitle	'
			'secondTitle 	secondTitle	 	secondTitle	'
			'navigation 	navigation 		navigation	'
			'articleProblem	articleGlobal	articleUse	'
			'articleProblem	articleGlobal	articleUse	'
			'articleService	articleGlobal	articleUse	'
			'articleService	articleGlobal	articleWho	'
			'articleService	articleGlobal	articleWho	'
			'articleService	articleGlobal	articleWho	'
			'articleService	articleFuture	articleFuture'
			'figure1		figure2			figure3		'
			'figure1		figure2			figure3		'
			'copyright		copyright		cookie		';
		}	
	.firstTitle
		{
		grid-area: firsTitle;
		}	
	.secondTitle
		{
		grid-area: secondTitle;
		}
	.normalNavigation
		{
		grid-area: navigation;
		background-color: #FFFFFF;
		}
	.articleGlobal
		{
		grid-area: articleGlobal;
		}
	.articleProblem
		{
		grid-area: articleProblem;
		}
	.articleUse
		{
		grid-area: articleUse;
		}
	.articleWho
		{
		grid-area: articleWho;
		}
	.articleService
		{
		grid-area: articleService;
		}
	.articleFuture
		{
		grid-area: articleFuture;
		}
	.gridFigure1	
		{
		grid-area: figure1;
		}
	.gridFigure2	
		{
		grid-area: figure2;
		}
	.gridFigure3	
		{
		grid-area: figure3;
		}
	.gridFigure1 img	
		{
		width: 350px;
		}
	.gridFigure2 img	
		{
		width: 350px;
		}
	.gridFigure3 img
		{
		width: 350px;
		}
	.copyright 
		{
		grid-area: copyright;
		background-color: #0804FF;
		}
	.cookie 
		{
		grid-area: cookie;
		background-color: #FA0;
		color: #FFF;
		opacity: 0.5;
		}	
	
	.mainTable
		{
		background-color: #F7FF04;	
		}

	.asidePricing
		{
		width: 400px;	
		}
		
	.asidePricing figure
		{
		width: 350px;
		margin: 4px;
		}
		
	.asidePricing img
		{
		width: 350px;
		}
		
	.footerArticle 
		{
		margin-left: auto;
		}
		
	.footerArticle figure
		{
		margin-left: auto;
		width: 250px;		
		}	
		
	.footerArticle img
		{		
		width: 250px;		
		}

	.footerBottem
		{
		display: flex;
		}
		
	.contactSection 
		{		
		display: flex;
		flex-wrap: wrap;
		gap: 0px 250px;
		}
		
	.asideContact
		{
		width: 400px;
		
		}
		
	.asideContact figure
		{
		width: 350px;
		margin: 4px;
		}
		
	.asideContact img
		{
		width: 350px;
		float: right;
		}
	
	form	
		{
		width: 700px;
		}
	.formlist	
		{
		list-style: none;
		}
	
	#copyright
		{
		background-color: #0804FF;
		flex-basis: 70%;
		flex-shrink: 0;
		flex-grow: 0;		
		}
	#cookie
		{
		background-color: #FA0;
		color: #FFF;
		opacity: 0.5;
		flex-basis: 30%;
		flex-shrink: 0;
		flex-grow: 0;	
		}
	}

@media screen and (min-width: 480px) and (max-width: 1280px)
	/* Tablet version */
	{
	body
		{
		width: 750px;
		background-color: #911B08;
		}
	.firstTitle + .secondTitle
		{
		border-style: solid;
		}	
	
	table, th, td	
		{
		border-color: black;
		border-style: double;
		border-width: 1px;
		}
	col:first-child
		{
		background-color: #FF0;
		}
	tr:nth-child(even)
		{
		background-color: #CFF;
		}
	tr:nth-child(odd)
		{
		background-color: #FFF;
		}
	p:first-letter
		{
		color: #00FF0C;
		}
	.article1 > p
		{
		background-color: #09C212;
		}	
		
		
	.headPage
		{
		display: none;	
		}	
	.mobileNavigation
		{
		display: none;
		}
	.mainSection 
		{		
		display: flex;
		flex-wrap: wrap;
		gap: 0px 250px;
		}
		
	.video 
		{
		width: 550px;
		order: 2;
		}
		
	.article1
		{
		background-color: #01853B;
		order: 5;
		}
		
	.article2
		{
		background-color: #01853B;		
		order: 4;
		}
		
	.article3
		{
		background-color: #01853B;		
		order: 3;
		}	

	.asideRoutes
		{
		background-color: #FC2D01;			
		order: 1;
		letter-spacing: 2px;
		line-height: 150%;
		text-indent: 5px;
		word-spacing: 10px;
		}
	
	/* gridcontainer + all classes */
	.gridcontainer
		{
		display: grid;	
		grid-gap: 7px;
		grid-template-areas:	
			'firsTitle 		firsTitle	 	'
			'secondTitle 	secondTitle	 	'
			'navigation 	navigation 		'
			'articleGlobal	articleProblem	'
			'articleGlobal	articleProblem	'
			'articleUse		articleProblem	'
			'articleUse		articleService	'
			'articleUse		articleService	'
			'articleUse		articleService	'
			'articleFuture	articleFuture	'
			'articleFuture	articleFuture	'
			'figure1		figure2			'
			'figure1		figure2			'
			'copyright		cookie			';
		}	
	.firstTitle
		{
		grid-area: firsTitle;
		}	
	.secondTitle
		{
		grid-area: secondTitle;
		}
	.normalNavigation
		{
		grid-area: navigation;
		background-color: #FFFFFF;
		}
	.articleGlobal
		{
		grid-area: articleGlobal;
		}
	.articleProblem
		{
		grid-area: articleProblem;
		}
	.articleUse
		{
		grid-area: articleUse;
		}
	.articleWho
		{
		grid-area: articleWho;
		display: none;
		}
	.articleService
		{
		grid-area: articleService;
		}
	.articleFuture
		{
		grid-area: articleFuture;
		}
	.gridFigure1	
		{
		grid-area: figure1;
		}
	.gridFigure2	
		{
		grid-area: figure2;
		}
	.gridFigure3	
		{
		grid-area: figure3;
		display: none;
		}
	.gridFigure1 img	
		{
		width: 350px;
		}
	.gridFigure2 img	
		{
		width: 350px;
		}
	.gridFigure3 img
		{
		width: 350px;
		}
	.copyright 
		{
		grid-area: copyright;
		background-color: #0804FF;
		}
	.cookie 
		{
		grid-area: cookie;
		background-color: #FA0;
		color: #FFF;
		opacity: 0.5;
		}	
	
	.mainTable
		{
		background-color: #F7FF04;	
		}
	.asidePricing
		{
		width: 650px;	
		display: flex;
		flex-wrap: wrap;

		}
		
	.asidePricing figure
		{
		width: 300px;
		margin: 4px;
		}
		
	.asidePricing img
		{
		width: 300px;
		}
		
	.asideFigure1
		{
		display: none;
		}
		
	.contactSection 
		{		
		display: flex;
		flex-wrap: wrap;
		gap: 0px 75px;
		}

	.asideContact
		{
		width: 300px;	
		}
		
	.asideContact figure
		{
		width: 250px;
		margin: 4px;
		}
	.asideContact img
		{
		width: 250px;
		float: right;
		}
	
	.footerArticle 
		{
		margin-right: auto;
		}
		
	.footerArticle figure
		{
		margin-right: auto;
		width: 250px;		
		}	
		
	.footerArticle img
		{		
		width: 250px;		
		}

	.footerBottem
		{
		display: flex;
		}
		
	.formlist	
		{
		list-style: none;
		}
		
	#copyright
		{
		background-color: #0804FF;
		flex-basis: 70%;
		flex-shrink: 0;
		flex-grow: 0;		
		}
		
	#cookie
		{
		background-color: #FA0;
		color: #FFF;
		opacity: 0.5;
		flex-basis: 30%;
		flex-shrink: 0;
		flex-grow: 0;		
		}
	}

@media screen and (max-width: 480px)
	/* Mobile version */
	{
	body
		{
		width: 460px;
		background-color: #FF04E4;
		}
	
	table, th, td	
		{border-color: black;
		border-style: double;
		border-width: 1px;
		
		}
	col:first-child
		{
		background-color: #FF0;
		}
	tr:nth-child(even)
		{
		background-color: #CFF;
		}
	tr:nth-child(odd)
		{
		background-color: #FFF;
		}
	
	p:first-letter
		{
		color: #00FF0C;
		}
	.article1 > p
		{
		background-color: #09C212;
		}
		
	.mainHeader 	
		{
		background-color: #FFEC00;
		display: flex;
		flex-wrap: wrap;
		}
	.headPage
		{
		display: none;	
		}	
	.firstTitle
		{	
		order: 1;
		flex-basis: 70%;
		flex-shrink: 0;
		flex-grow: 0;
		}
		
	.secondTitle
		{		
		order: 3;
		}
		
	.menu
		{
		display:none;
		list-style: square;
		}
	
	.hamburger
		{
		position: absolute;
		}
		
	.hamburgercheck
		{
		position: relative;
		opacity: 0;
		width: 50px;
		height: 50px;
		z-index: 9999;
		}
		
	.open
		{
		position: absolute;
		left: 0;
		top: 0;
		width: 50px;
		height: 50px;
		z-index: 8999;
		}
		
	.close
		{
		position: absolute;
		left: 0;
		top: 0;
		width: 50px;
		height: 50px;	
		z-index: 7999;
		}
		
	.hamburgercheck:checked ~ .open
		{
			display:none;
		}	
	.hamburgercheck:checked ~ .menu
		{
			display:block;
		}		
		
	.mainSection 
		{		
		display: flex;
		flex-wrap: wrap;
		gap: 0px 250px;
		}
		
	.video 
		{
		display: none;
		}
		
	.article1
		{
		background-color: #01853B;		
		order: 4;
		}
		
	.article2
		{
		background-color: #01853B;		
		order: 3;
		}
		
	.article3
		{
		background-color: #01853B;	
		order: 2;
		}	

	.asideRoutes
		{
		background-color: #FC2D01;		
		order: 1;
		letter-spacing: 2px;
		line-height: 150%;
		text-indent: 5px;
		word-spacing: 10px;
		}
	
	/* gridcontainer + all classes */
	.gridcontainer
		{
		display: grid;	
		grid-gap: 10px;
		grid-template-areas:	
			'firsTitle 		mobnavigation	'
			'secondTitle 	mobnavigation	'
			'articleService articleService	'
			'articleService	articleService	'
			'articleService	articleService	'
			'articleUse		articleUse		'
			'articleUse		articleUse		'
			'articleUse		articleUse		'
			'articleProblem	articleProblem	'
			'articleProblem	articleProblem	'
			'articleProblem	articleProblem	'
			'articleGlobal	articleGlobal	'
			'articleGlobal	articleGlobal	'
			'articleGlobal	articleGlobal	'
			'figure1		figure1			'
			'figure2		figure2			'
			'figure3		figure3			'
			'copyright		cookie		';
		}	
	.firstTitle
		{
		grid-area: firsTitle;
		}	
	.secondTitle
		{
		grid-area: secondTitle;
		}
	.normalNavigation
		{
		grid-area: navigation;
		display: none;
		}
	.mobileNavigation
		{	
		order: 2;
		flex-basis: 30%;
		flex-shrink: 0;
		flex-grow: 0;
		grid-area: mobnavigation;
		}
	.articleGlobal
		{
		grid-area: articleGlobal;
		}
	.articleProblem
		{
		grid-area: articleProblem;
		}
	.articleUse
		{
		grid-area: articleUse;
		}
	.articleWho
		{
		grid-area: articleWho;
		display: none;
		}
	.articleService
		{
		grid-area: articleService;
		}
	.articleFuture
		{
		grid-area: articleFuture;
		display: none;
		}
	.gridFigure1	
		{
		grid-area: figure1;
		}
	.gridFigure2	
		{
		grid-area: figure2;
		}
	.gridFigure3	
		{
		grid-area: figure3;
		}
	.gridFigure1 img	
		{
		width: 350px;
		}
	.gridFigure2 img	
		{
		width: 350px;
		}
	.gridFigure3 img
		{
		width: 350px;
		}
	.copyright 
		{
		grid-area: copyright;
		background-color: #0804FF;
		}
	.cookie 
		{
		grid-area: cookie;
		background-color: #FA0;
		color: #FFF;
		opacity: 0.5;
		}	
	
	.mainTable
		{
		background-color: #F7FF04;	
		}
	.asidePricing
		{
		width: 420px;
		}
		
	.asidePricing figure
		{
		width: 350px;
		margin: 4px;
		}
		
	.asidePricing img
		{
		width: 350px;
		}
	
	.footerArticle 
		{
		margin: auto;
		}
		
	.footerArticle figure
		{
		margin: auto;
		width: 250px;		
		}	
		
	.footerArticle img
		{		
		width: 250px;		
		}

	.footerBottem
		{
		display: flex;
		}
		
	.contactSection 
		{		
		display: flex;
		flex-wrap: wrap;
		gap: 0px 250px;
		}
	
	.asideContact
		{
		width: 420px;
		}
		
	.asideContact figure
		{
		width: 350px;
		margin: 4px;
		}
		
	.asideContact img
		{
		width: 350px;
		float: right;
		}
		
	.formlist	
		{
		list-style: none;
		}
			
	#copyright
		{
		background-color: #0804FF;
		flex-basis: 70%;
		flex-shrink: 0;
		flex-grow: 0;		
		}
		
	#cookie
		{
		background-color: #FA0;
		color: #FFF;
		opacity: 0.5;
		flex-basis: 30%;
		flex-shrink: 0;
		flex-grow: 0;		
		}
	}
