@media screen and (min-width: 1280px)
	/* Pc version */
	{
	body
		{
		width: 1400px;
		background-color: grey;
		}
	table, th, td	
		{
		border: 1px solid black;
		}
	.mobileNavigation
		{
		display: none;
		}
	
	.mainSection 
		{		
		background-color: yellow;
		display: flex;
		flex-wrap: wrap;
		gap: 0px 250px;
		}
		
	.video 
		{
		width: 550px;
		order: 1;
		}
		
	.article1
		{
		background-color: green;
		width: 700px;
		order: 2;
		}
		
	.article2
		{
		background-color: green;
		width: 700px;
		order: 4;
		}
		
	.article3
		{
		background-color: green;
		width: 700px;
		order: 5;
		}	

	.asideRoutes
		{
		background-color: red;
		width: 400px;	
		order: 3;
		}
		
	.asidePricing
		{
		background-color: red;
		width: 400px;	
		}
		
	.asidePricing figure
		{
		width: 350px;
		margin: 4px;
		}
		
	.asidePricing img
		{
		width: 350px;
		}
		
	.footerArticle 
		{
		margin-left: auto;
		}
		
	.footerArticle figure
		{
		margin-left: auto;
		width: 250px;		
		}	
		
	.footerArticle img
		{		
		width: 250px;		
		}

	.footerBottem
		{
		display: flex;
		}
		
	.contactSection 
		{		
		background-color: yellow;
		display: flex;
		flex-wrap: wrap;
		gap: 0px 250px;
		}
		
	.asideContact
		{
		background-color: red;
		width: 400px;	
		}
		
	.asideContact figure
		{
		width: 350px;
		margin: 4px;
		}
		
	.asideContact img
		{
		width: 350px;
		}
	
	form	
		{
		width: 700px;
		}
	.formlist	
		{
		list-style: none;
		}
	
	#copyright
		{
		background-color: blue;
		flex-basis: 70%;
		flex-shrink: 0;
		flex-grow: 0;		
		}
	#cookie
		{
		background-color: #FA0;
		color: #FFF;
		opacity: 0.5;
		flex-basis: 30%;
		flex-shrink: 0;
		flex-grow: 0;		
		}
	}

@media screen and (min-width: 481px) and (max-width: 1279px)
	/* Tablet version */
	{
	body
		{
		width: 750px;
		background-color: brown;
		}
			
	table, th, td	
		{
		border: 1px solid black;
		}
		
	.mobileNavigation
		{
		display: none;
		}
	.mainSection 
		{		
		background-color: yellow;
		display: flex;
		flex-wrap: wrap;
		gap: 0px 250px;
		}
		
	.video 
		{
		width: 550px;
		order: 2;
		}
		
	.article1
		{
		background-color: green;
		order: 5;
		}
		
	.article2
		{
		background-color: green;		
		order: 4;
		}
		
	.article3
		{
		background-color: green;		
		order: 3;
		}	

	.asideRoutes
		{
		background-color: red;			
		order: 1;
		}
	
	.asidePricing
		{
		background-color: red;
		width: 650px;	
		display: flex;
		flex-wrap: wrap;

		}
		
	.asidePricing figure
		{
		width: 300px;
		margin: 4px;
		}
		
	.asidePricing img
		{
		width: 300px;
		}
		
	.asideFigure1
		{
		display: none;
		}
		
	.contactSection 
		{		
		background-color: yellow;
		display: flex;
		flex-wrap: wrap;
		}

	.asideContact
		{
		background-color: red;
		width: 300px;	
		}
		
	.asideContact figure
		{
		width: 250px;
		margin: 4px;
		}
	.asideContact img
		{
		width: 250px;
		}
	
	.footerArticle 
		{
		margin-right: auto;
		}
		
	.footerArticle figure
		{
		margin-right: auto;
		width: 250px;		
		}	
		
	.footerArticle img
		{		
		width: 250px;		
		}

	.footerBottem
		{
		display: flex;
		}
		
	.formlist	
		{
		list-style: none;
		}
		
	#copyright
		{
		background-color: blue;
		flex-basis: 70%;
		flex-shrink: 0;
		flex-grow: 0;		
		}
		
	#cookie
		{
		background-color: #FA0;
		color: #FFF;
		opacity: 0.5;
		flex-basis: 30%;
		flex-shrink: 0;
		flex-grow: 0;		
		}
	}

@media screen and (max-width: 480px)
	/* Mobile version */
	{
	body
		{
		width: 460px;
		background-color: pink;
		}
	table, th, td	
		{
		border: 1px solid black;
		}	
	.mainHeader 	
		{
		background-color: yellow;
		display: flex;
		flex-wrap: wrap;
		}
		
	.firstTitle
		{
		background-color: green;		
		order: 1;
		flex-basis: 70%;
		flex-shrink: 0;
		flex-grow: 0;
		}
		
	.secondTitle
		{
		background-color: green;		
		order: 3;
		}
		
	.mobileNavigation
		{
		background-color: green;		
		order: 2;
		flex-basis: 30%;
		flex-shrink: 0;
		flex-grow: 0;
		}
	
	.normalNavigation
		{
		display: none;
		}
		
	.menu
		{
		display:none;
		list-style: square;
		}
	
	.hamburger
		{
		position: absolute;
		}
		
	.hamburgercheck
		{
		position: relative;
		opacity: 0;
		width: 50px;
		height: 50px;
		z-index: 9999;
		}
		
	.open
		{
		position: absolute;
		left: 0;
		top: 0;
		width: 50px;
		height: 50px;
		z-index: 8999;
		}
		
	.close
		{
		position: absolute;
		left: 0;
		top: 0;
		width: 50px;
		height: 50px;	
		z-index: 7999;
		}
		
	.hamburgercheck:checked ~ .open
		{
			display:none;
		}	
	.hamburgercheck:checked ~ .menu
		{
			display:block;
		}		
		
	.mainSection 
		{		
		background-color: yellow;
		display: flex;
		flex-wrap: wrap;
		gap: 0px 250px;
		}
		
	.video 
		{
		display: none;
		}
		
	.article1
		{
		background-color: green;		
		order: 4;
		}
		
	.article2
		{
		background-color: green;		
		order: 3;
		}
		
	.article3
		{
		background-color: green;	
		order: 2;
		}	

	.asideRoutes
		{
		background-color: red;		
		order: 1;
		}
	
	.asidePricing
		{
		background-color: red;
		width: 420px;
		}
		
	.asidePricing figure
		{
		width: 350px;
		margin: 4px;
		}
		
	.asidePricing img
		{
		width: 350px;
		}
	
	.footerArticle 
		{
		margin: auto;
		}
		
	.footerArticle figure
		{
		margin: auto;
		width: 250px;		
		}	
		
	.footerArticle img
		{		
		width: 250px;		
		}

	.footerBottem
		{
		display: flex;
		}
		
	.contactSection 
		{		
		background-color: yellow;
		display: flex;
		flex-wrap: wrap;
		gap: 0px 250px;
		}
	
	.asideContact
		{
		background-color: red;
		width: 420px;
		}
		
	.asideContact figure
		{
		width: 350px;
		margin: 4px;
		}
		
	.asideContact img
		{
		width: 350px;
		}
		
	.formlist	
		{
		list-style: none;
		}
			
	#copyright
		{
		background-color: blue;
		flex-basis: 70%;
		flex-shrink: 0;
		flex-grow: 0;		
		}
		
	#cookie
		{
		background-color: #FA0;
		color: #FFF;
		opacity: 0.5;
		flex-basis: 30%;
		flex-shrink: 0;
		flex-grow: 0;		
		}
	}
